/* Animation de vibration */
@keyframes vibrate {
  0% {transform: rotate(0);}
  5% {background-color: rgb(250, 255, 140) !important;}
  10% {transform: rotate(-11deg);}
  20% {transform: rotate(11deg);}
  30% {transform: rotate(-8deg);}
  40% {transform: rotate(8deg);}
  50% {transform: rotate(-5deg);}
  60% {transform: rotate(5deg);}
  70% {transform: rotate(-3deg);}
  80% {transform: rotate(3deg);}
  90% {transform: rotate(-1deg);}
  100% {transform: rotate(1deg);}
}

.vibrate {
  animation: vibrate 0.5s ease 9 alternate;
}